!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}

  %head
    %meta{"http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %title=  "NinjaScript Demo"

    = stylesheet_link_tag 'screen', :media=>'screen, projection' 
  
    = javascript_include_tag "jquery-1.4.2.js"
    = javascript_include_tag "rails.js"    
    = javascript_include_tag "jquery.ninja_script.js"      
    = javascript_include_tag "application.js"      
    = javascript_include_tag "delete_widgets.js"      
                                                       
    = csrf_meta_tag 
                                                    
  %body      
    #messages
    #content    
      = yield                 
